/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $colorBlack;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 4 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(2 * $containerPadding);

}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
    
    font-family: $fontPrimary;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}
